@keyframes nav-bar-animation {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes nav-bar-animation-c {
    0% {
        transform: translate(-50%,-200px);
    }
    100% {
        transform:translate(-50%,0);
    }
}


.navBar {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    padding: 0 22px;
    max-width: 1600px;
    overflow: hidden;
    z-index: 20000;
    .leftBox {
        color: white;
        font-weight: 200;
        font-size: 30px;
        width: 60px;
        height: 60px;
        padding: 7px;
        float: left;
        transform: translateY(-200px);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        backdrop-filter: blur(20px);
        padding: 4px;
        border-radius: 10px;
        transition: all 0.2s ease;
        animation: nav-bar-animation .7s cubic-bezier(0.87, 0, 0.13, 1) .2s forwards;
        background-color: #361a96;
    }
    .leftBox:active {
        opacity: 0.7;
    }
    .centerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-200px);
        height: 60px;
        border-radius: 10px;
        padding: 0 7px;
        font-weight: 200;
        animation: nav-bar-animation-c .7s cubic-bezier(0.87, 0, 0.13, 1) .4s forwards;
        .link {
            position: relative;
            font-size: 30px;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 6px;
            transition: all 0.2s ease;
        }
        .link::after {
            content: "";
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            border-radius: 50px;
            background : #00fcfd;
            transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
        }
        .link:hover {
            background-color: rgba(91, 91, 91, 0.22);
        }
        .link:active {
            background-color: rgba(38, 38, 38, 0.61);
            transform: scale(0.95);
        }
        .active {
            font-weight: 200;
        }
        .active::after {
            width: 40%;

        }
    }
    .rightBox {
        transform: translateY(-200px);
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 50px;
        height: 60px;
        border-radius: 10px;
        padding: 0 7px;
        font-weight: 200;
        transition: all 0.2s ease;
        animation: nav-bar-animation .7s cubic-bezier(0.87, 0, 0.13, 1) .6s forwards;
        background-color: rgba(56, 56, 56, 0.61);
    }
    .rightBox.mob {
        display: none;
    }
    .rightBox:active {
        opacity: 0.7;
    }
    .mobileLinkBox {
        display: none;
    }
    .mobileBg {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .leftBox {
        margin-top: 20px;
        margin-left: 20px;
    }
    .rightBox {
        margin-top: 20px;
        margin-right: 20px;
    }
    
    .navBar {
        margin: 0;
        padding: 0;
        top: 0px;
        .rightBox{
            z-index: 1000;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: none;
            cursor: pointer;
            background-color: transparent;
        }

        .rightBox.menuInactive{
            border: 2.5px solid #361a96;
            overflow: hidden;
        }

        .rightBox.menuInactive::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            background-color: #361a96;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 1s ease, width 0s, height 0s;
            z-index: 0;
        }

        .rightBox.menuInactive:hover::before {
            width: 200%;
            height: 200%;
            transform: translate(-50%, -50%) scale(1);
        }

        .rightBox.menuInactive:hover {
            color: white;
        }

        .rightBox.menuInactive > * {
            position: relative;
            z-index: 1;
        }

        .crossIcon {
            display: inline-block;
            transition: transform 0.3s ease;
            font-size: 34px;
            font-weight: lighter;
        }

        .rotate {
            transform: translateX(1px) rotate(45deg);
        }


        .rightBox.menuActive{
            color: white;
            border: 2.5px solid #ff7dec;
        }

        .rightBox.menuActive::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            background-color: #ff7dec;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 1s ease, width 0s, height 0s;
            z-index: 0;
        }

        .rightBox.menuActive:hover::before {
            width: 200%;
            height: 200%;
            transform: translate(-50%, -50%) scale(1);
        }

        .rightBox.menuActive:hover {
            color: white;
        }

        .rightBox.menuActive > * {
            position: relative;
            z-index: 1;
        }

        .rightBox.mob {
            display: flex;
            position: relative;
            overflow: hidden;
            .menuIcon {
                color: white;
                letter-spacing: -2px;
                position: relative;
                transform: translateY(-9.5px);
                transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
            }
            .crossIcon {
                display: none;
            }
        }
        .rightBox.mob.menuActive {
            display: flex;
            position: relative;
            overflow: hidden;
            .menuIcon {
                display: none;
            }
            .crossIcon {
                display: block;
            }
        }
        .centerBox {
            display: none;
        }

        .mobileLinkBox {
            display: block;
            position: relative;
            top:-20px;
            width: 100%;
            height: 0;
            background-color: #361a96;
            transform-origin: top right;
            transform: scale(0);
            transition: all 0.7s cubic-bezier(0.87, 0, 0.13, 1);
            .linkList {
                margin-top: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 18px;
                .link {
                    color: #ff7dec;
                    font-size: 4rem;
                    font-weight: 900;
                    border-radius: 6px;
                    position: relative;
                    width: fit-content;
                    transition: all 0.2s ease;
                }
            }
        }
        .mobileLinkBox.activeMd {
            display: block;
            transform: scale(1);
            height: 100vh;
            padding: 28px;
        }
    }
    .mobileBg {
        z-index: 10000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.68);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.7s cubic-bezier(0.87, 0, 0.13, 1);
    }
    .mobileBg.open {
        opacity: 1;
        pointer-events: auto;

    }

    .homeIconContainer {
        text-align: center;
    }


    .homeIcon {
        font-size: 2rem;
        color: white;
        background-color: transparent;
        border: 1.5px solid #ff7dec;
        position: relative;
        padding: 10px;
        margin-top: 20px;
        position: relative;
        bottom : -40px;
        border-radius: 8px;

        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        overflow: hidden;
    }
}